.centralizar {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgperfil {
    border-radius: 50%;/*faz a borda ficar arredondada*/
    object-fit: cover;/*faz a imagem cobrir todo o circulo*/
    aspect-ratio: 1/1;/*faz a imagem n ficar distorcida com o objectfit e o border radius*/
    width: 12rem;
    margin: 3rem;
}
#preview {
    border-radius: 50%;/*faz a borda ficar arredondada*/
    object-fit: cover;/*faz a imagem cobrir todo o circulo*/
    aspect-ratio: 1/1;/*faz a imagem n ficar distorcida com o objectfit e o border radius*/
    width: 6rem;
}